<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  rel="stylesheet" href = "/styles.css"/>
</head>
    <body>
        <header>

            <a  class='nav-bar' href= '/'>Home</a>
            <a class='nav-bar' href='/signup'>Sign Up</a>
            <a class='nav-bar' href= '/login'>Log In</a>
            <a class = 'nav-bar' href= '/flipcards'>Flip Cards Quiz</a>

        </header>
            <h1> You are on the flipcard page></h1>
    </body>
</html>